@context (10 < devicelight <= 30) {
    body { background-color: black; color: white; } 
    .code .rule {
        color: mediumpurple;
    }
    .code .feat {
        color: lightskyblue;
    }
    .code .value {
        color: darkseagreen;
    }
    .code .stringval {
        color: lightgray;
    }
    .code .selector {
        color: #ffd966;
    }   
}


