@context (max-devicelight: 40%) { 
    .adapt { background-color: #000; color: #fff; font-size: 24px }
    .test { color: #fff }
}

@context (min-devicelight: 30%) and (max-devicelight: 70%) {
    .adapt { background-color: #666; color: red }
    body { background-color: #eee}
}

@context (min-devicemotion: 30%) and (max-devicemotion: 70%) {
    .adapt { background-color: #666; color: red }
    body { background-color: #eee}
}
