<script>

    let root = document.querySelector("html"), contextRules = [],
    // TODO remove this 
    attrsArr = [
        ['min-devicelight','max-devicelight'],
        ['min-devicemotion','max-devicemotion']
    ];

    const randomNum = Math.floor(Math.random() * (999 - 801 +1)) + 801;

    class contextStyle extends HTMLElement {
        constructor() {
            super(); 
        }

        connectedCallback() {
            this.href();
            this.style.display = 'none';     
        }

        content() {
            let inner = this.innerHTML;    
            if(inner.trim() != ''){
                generateClasses( inner.trim() );
            } else {
                console.error('Context-Styles have not been declared, please use the href attribute or write them directly in the context-style tag.');
            }
                 
        }

        href() {
            let that = this;
            if(this.hasAttribute('href') && this.getAttribute('href') != "") {
                get(this.getAttribute('href')).then(function(response) {
                    generateClasses(response);
                    that.content();
                }, function(error) {
                    console.error("Failed!", error);
                })
            } else {
                console.log('href empty or non existent');
                that.content();
            }   
        }
     
    }

    window.customElements.define('context-style', contextStyle); 


    function generateClasses(str) {
        
        let contexts = str.split('@context');
        contexts.splice(0,1);

        for (let i of contexts) {
            let arr = [],  arrOfObj = [], arrOfClasses = [], rules, ruleArr, styles, singleStyles;
            rules = i.substring(i.indexOf("("),i.indexOf("{"));
            ruleArr = rules.split(' and ');
            console.log(ruleArr);
            styles = i.substring(i.indexOf("{") + 1,i.lastIndexOf("}"));
            singleStyles = styles.split('}');
            singleStyles.pop();
            for (let j of ruleArr) {
                let obj = {}, inner, a;
                inner = j.substring(j.indexOf("(")+1,j.indexOf(")"));
                a = inner.split(':');                   
                obj[a[0]] = parseFloat(a[1]);
                arrOfObj.push(obj);
            }

            for (let z of singleStyles){
                let obj = {}, className, attrs; 
                className = z.substring(0,z.indexOf("{"));
                attrs =  z.substring(z.indexOf("{") + 1);
                obj[className.trim()] =  attrs.trim(); 
                arrOfClasses.push(obj);
            }  

            arr.push(arrOfObj);
            arr.push(arrOfClasses);   
            contextRules.push(arr);          
            
        }
        generateStyles(contextRules);

        // perform first check on all attrs
        // TODO remove this
        for (var i of attrsArr) {
             performCheck(i,0);
        }
       
        console.log(contextRules);  
    }
        

    function get(url) {
        return new Promise(function(resolve, reject) {
            var req = new XMLHttpRequest();
            req.open('GET', url);

            req.onload = function() {
                if (req.status == 200) {
                    resolve(req.response);
                }
                else {
                    reject(Error(req.statusText));
                }
            };

            req.onerror = function() {
                reject(Error("Network Error"));
            };

            req.send();
        });
    }

    function generateStyles() {
        let head = document.querySelector('head'), style = document.createElement('style'), len = contextRules.length, 
        suffix = '.css-ctx-queries-',css = "";
        style.type = 'text/css';
        style.id = 'cssCtxQueriesStyleTag';
        for(let i of contextRules) {
            len--;
            for(let styl of i[1]) {
                let key = Object.keys(styl)[0];
                css +=  suffix + (randomNum + len) + ' ' + key + '{' + Object.values(styl)[0] + '}';
            }
        }
        if(document.getElementById('cssCtxQueriesStyleTag')) {
            document.getElementById('cssCtxQueriesStyleTag').innerHTML = "";
            document.getElementById('cssCtxQueriesStyleTag').appendChild(document.createTextNode(css));
        } else {
            style.appendChild(document.createTextNode(css));
            head.appendChild(style);
        }
    }
    
    
    function performCheck(attrs,setValue) {
        let len = contextRules.length;
        for (let i of contextRules) {
            let min = Number.NEGATIVE_INFINITY, max = Number.POSITIVE_INFINITY;
            len--;
            for (let j of i[0]) {
                if(Object.keys(j)[0] == attrs[0]) {
                    min = j[attrs[0]];
                }         
                if(Object.keys(j)[0] == attrs[1]) {
                    max = j[attrs[1]];
                }                        
            }
            if(min != -Infinity || max != Infinity) {
                for(let k of i[1]){
                    let key = Object.keys(k)[0], clss = 'css-ctx-queries-' + (randomNum+len);//elmList, vals ,s;

                    if( min <= setValue && setValue <= max ) {
                        if(!root.classList.contains(clss)){
                            //console.log('class added ' + clss + ' within min:' + min + ' max:' + max);
                            root.classList.add(clss);
                        }       
                    } else if ( setValue < min || max < setValue) {
                        if(root.classList.contains(clss)) {
                            //console.log('class removed ' + clss + ' within min:' + min + ' max:' + max);
                            root.classList.remove(clss);
                        }             
                    }
                }
            }
            
             
        }
    }


    // event listener for devicelight
    window.addEventListener('devicelight', function(e) {
        performCheck(['min-devicelight','max-devicelight'],(e.value == Infinity)?0:e.value);
    });
    // event listener for devicemotion
    window.addEventListener('devicemotion', function(e) {
        performCheck(['min-devicemotion','max-devicemotion'],(e.acceleration.x == null)?0:e.acceleration.x);
    });

</script>